block globs
  - var blocks = {}
  // Named blocks for mixins
  // Example at mixin 'caption'

mixin set(key)
  - blocks[key] = this.block

mixin clear()
  - blocks = {}
  ////////////////////////////

mixin icon(name, modClass)
  - var svgSprite = 'img/sprite.svg'
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class="ico " + name + modClass)&attributes(attributes)
    use(xlink:href= svgSprite + '#' + name)

mixin anchor()
  if href == null
    a(href="#", onclick="return 0")&attributes(attributes)
      block
  else
    a&attributes(attributes)
      block

mixin button()
  +anchor().btn&attributes(attributes)
    .btn_fill
    .btn_content
      block

mixin social(name, link)
  +anchor(class=name, href=link, target="_blank").social&attributes(attributes)
    block

mixin facebook()
  include _vars
  +social('facebook', hrefFB)&attributes(attributes)
    block

mixin twitter()
  include _vars
  +social('twitter', hrefTW)&attributes(attributes)
    block

mixin vk()
  include _vars
  +social('vk', hrefVK)&attributes(attributes)
    block

mixin instagram()
  include _vars
  +social('instagram', hrefIG)&attributes(attributes)
    block

mixin buttonBack()
  +anchor().btn-back&attributes(attributes)
    | &larr;&nbsp;назад

mixin photos(bgColor)
  include _svgs
  block
  - bgColor = bgColor || "#231F20" // TODO: https://stackoverflow.com/a/41923423/6119618
  .photos&attributes(attributes)
    +icon("icon-y-letter").background_letter.photos__letter.photos__letter-y
    +icon("icon-o-letter").background_letter.photos__letter.photos__letter-o
    .photos__background(style="background: " + bgColor)
    if !blocks.photo2
      // Only one photo
      .photos__photo.photos__photo_only
        if blocks.photo1
          - blocks.photo1()
    else if blocks.photo1 && blocks.photo2
      // Both photos
      .photos__photo.photos__photo_1(src=src1)
        - blocks.photo1()
      .photos__photo.photos__photo_2(src=src2)
        - blocks.photo2()
    +fish-sushi-wine.icon-fish-sushi-wine.photos__label_fish
    //+icon("icon-fish-sushi-wine").photos__label.photos__label_fish
    +icon("icon-tokio-k-symbol").photos__label.photos__label_k
  +clear

mixin image(src)
  .image_within_div(style=`background-image: url(${src}) !important`)&attributes(attributes)

mixin date(day, rest)
  // Rename class
  .corner__date
    .corner__date_day= day
    .corner__date_rest= rest

mixin caption
  block
  // block is required to handle passed blocks
  .caption(class=blocks.hashtags ? 'with-hash-tags' : '')&attributes(attributes)
    .heading.caption__text
      if blocks.content
        // Check if required
        - blocks.content()
    if blocks.hashtags
      span.hash_tags
         - blocks.hashtags()
  // Don't forget to clear to avoid unwanted block reusing
  +clear